*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    background: url(./Images/hotel.jpg);
    background-size: cover;
}

h1 h2 h3 h4 h5 h6{
    font-family: 'Playfair Display', serif;
}







.logo{
    width: 100px;
    height: 100px;

}

header img{
    color: white;
}


.box2{
    visibility: hidden;
}

.d-play{
    display: flex;
}


header{
    flex-direction: row;
    justify-content: space-between;
    background-color: #eed3bf;
    position: fixed;
    width: 100%;
}

nav a{
    padding: 20px;

}

.nav-item{
    font-size:medium;
    
}

.liste{
    list-style: none;
}



header input{
    border: 2px solid black;
    border-radius: 15px;
    height: 30%;
}

input{
    position: relative;
}
.fa-magnifying-glass{
    position: absolute;

}

.fa-basket-shopping{
    font-weight: 400;
    align-items: flex-end;
}

.search{
    flex-direction: row;

}
.conteneur{
    max-width: 1000px;
    margin: 0 auto;

}

h2{
    text-align: center;
}



.spa figure{
    transition: all 1s ease;
}

figure:hover{
    opacity: 0.7;
    transform: animate_heartBeat (-10deg);
}

figure{
    box-shadow: 11px -15px 32px -10px rgba(33,29,29,0.75);
-webkit-box-shadow: 11px -15px 32px -10px rgba(33,29,29,0.75);
-moz-box-shadow: 11px -15px 32px -10px rgba(33,29,29,0.75);
border-radius: 15px;
padding: 0px 10px;
}

img{
    min-width: 100%;
    

    
}

footer{
    background-color: #eed3bf;
}






