*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.conteneur{
    max-width: 1000px;
    margin: 0 auto;

}
h1 h2 h3 h4 h5 h6{
    font-family: 'Playfair Display', serif;
}

h1{
    text-align: center;
}

p{
    padding: 10px;
}

/* section{
    margin: 10px;
} */


footer{
    margin-top: 20px;
}
/*---------------- PAGE HOME*/
body{
    background: url(./Images/hotel.jpg);
    background-size: cover;

}


/*------------Header----------*/
.logo{
    width: 100px;
    height: 100px;

}

header img{
    color: white;
}

.box2{
    visibility: hidden;
}

.d-play{
    display: flex;
}


header{
    flex-direction: row;
    justify-content: space-between;
    background-color: #eed3bf;
    /* position: fixed; */
    width: 100%;
}

nav{
    justify-content: center;
}


/* nav a{
    padding: 20px;

} */

.nav-item{
    font-size:medium;
    
}


.liste{
    list-style: none;
}



header input{
    border: 2px solid black;
    border-radius: 15px;
    height: 30%;
}

input{
    position: relative;
}
.fa-magnifying-glass{
    /* position: absolute; */
    margin-right: 10px;

}

.fa-basket-shopping{
    font-weight: 600;
    align-items: flex-end;
    margin-right: 20px;
}

.lang{
    justify-content: end;
}

.search{
    /* flex-direction: row; */
    justify-content: end;

}

/*------------Contenue Principal----------*/


h2{
    text-align: center;
}



.spa figure{
    transition: all 1s ease;
}

figure:hover{
    opacity: 0.7;
    transform: animate_heartBeat (-10deg);
}

figure{
    /* box-shadow: 11px -15px 32px -10px rgba(33,29,29,0.75);
-webkit-box-shadow: 11px -15px 32px -10px rgba(33,29,29,0.75);
-moz-box-shadow: 11px -15px 32px -10px rgba(33,29,29,0.75);
border-radius: 15px;
padding: 0px 10px; */
}

img{
    min-width: 100%;
}

form{
    justify-content: center;
}


.map{
    justify-content: center;
    margin: 10%;

}



/*------------Footer----------*/
footer{
    background-color: #eed3bf;
}


/*---------------- PAGE CONTACT*/


.cont-contact{
    margin: 70px auto;
    max-width: 650px;
    display: flex;
    flex-direction: column;

}







.formulaire{
    display: block;
    width: 80%;
    align-items: center;
    padding: 20px;
    background-color: rosybrown ;
    border-radius: 15px;
    text-align: center;
}


.boite input{
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    justify-content: center;
}

/* .formulaire input{
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.formulaire textarea{
    margin: 5px auto;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
} */
.formulaire button{
    justify-content: center;
}

/*---------------- PAGE RESERVAION*/

h5{
    text-align: center;
}
.cont-resa{
    margin: 50px auto;
    max-width: 500px;

}


.civilite{
    flex-direction: row;
    justify-content: flex-start;
}
.bloc1 form,.bloc2{
    /* max-width: 1000px; */
    padding: 5px;
    margin: 5px;
    
}


.bloc1, .bloc2, .bloc3{
    background-color:rosybrown;
    width: 550px;
    padding: 10px;
    /* margin: 10px; */
    border-radius: 15px;
    
}

.form-p{
    display: block; 
  
    
}

.form-p input{
    margin: 5px auto;
    padding: 5px;
    border-radius: 5px;
    width: 250px;
    justify-content: center;
}

.form-p select{
    /* margin: 5px auto; */
    padding: 5px;
    border-radius: 5px;
    width: 50px;
    /* display: block; */
    /* justify-content: center; */
}
.form-p .gamme{
    width: 110px;
    justify-content: center;
}

.bloc3 .b-panier{
    
  

}

.bloc3 a{
    border: 5 px solid black;
    justify-content: center;
    background-color: blue;
    width: 20%;
    border-radius: 5px; 
   
}

.bloc3 a:hover{
    cursor: pointer;
    background-color: aqua;
    transition: all 0.5s ease;
}


.b-menu{
    flex-direction: column;
}

/*---------------- PAGE SPA*/

.cont-spa{
    margin: 20px auto;
    max-width: 650px;
}
